<h1>Say#hello</h1>
<p>Find me in app/views/say/hello.html.erb</p>
<% 5.times do %>
  <p>XXX</p>
<% end %>
<div><%= link_to "Dig Dave", dave_dig_path %></div>
<div><%= link_to "Speak Dave", dave_speak_path %></div>
<div><%= link_to "Teach Dave", dave_teach_path %></div>
