<h1>Say#hello</h1>
<p>Find me in app/views/say/hello.html.erb</p>
<p>zxczczx<p>
<% 10.times do %>
 <h2><%=  @var %></h2>
<% end %>

<div><%= link_to "Dig Dave", dave_dig_path %></div>
<div><%= link_to "Speak Dave", dave_speak_path %></div>
<div><%= link_to "Teach Dave", dave_teach_path %></div>
